.usertitle {
    font-weight: 600 ;
    font-size: 34px;
    color: rgb(85, 85, 207);
    text-align: center;
}


.users .users-data{
    width: 100%;
    margin-top: 40px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.users .users-data .data{
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.users .users-data .data .main-search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.users .users-data .data .main-search .search{
    width: 30%;
}


.user-action{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.users-main{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    height: 370px;
    
}

.users-form{
    display: flex;
    flex-direction: column;
    height: 100%;

}