.staff-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    height: 90vh;
}



.staff-main{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    height: 300px;
    
}

.staff-form{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.staff-submit{
    background-color: #3f51b5;
    padding: 10px;
    border: transparent;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    float: right;
}

.staff-cancel{
    background-color: transparent;
    padding: 10px;
    border: transparent;
    border-radius: 6px;
    color: #3f51b5;
    font-weight: 500;
    font-family: sans-serif;
    float: right;
    margin-right: 8px;
}

.staff-cancel:hover{
    background-color: #f3f3f3;
}
