.transaction{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.transaction-title{
    font-weight: 600 ;
    font-size: 34px;
    color: rgb(85, 85, 207);
    text-align: center;
    margin: 17px 0;
}
.transaction-action{
    display: flex;
    flex-direction: row;

}

.transaction-action {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.transaction .error-popup{
    width: 300px;
    height: 300px;
    background-color: white;
}


.transaction-data{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.transaction-data .data{
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

}

.transaction-data .main-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    
}

.transaction-data .transaction-menu{
    padding: 0 20px;
}

.transaction-data .data .search{
    width: 30%;
}

.transaction-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

.transaction-main{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    height: 450px;
    
}

.modal-transaction{
    display : 'flex' ; 
    align-items : 'center' ;
    justify-content : 'center'
}

.transaction-form{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.transaction-input{
    margin-bottom: 20px;
}

.transaction-submit{
    background-color: #3f51b5;
    padding: 10px;
    border: transparent;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    float: right;
}

.transaction-cancel{
    background-color: transparent;
    padding: 10px;
    border: transparent;
    border-radius: 6px;
    color: #3f51b5;
    font-weight: 500;
    font-family: sans-serif;
    float: right;
    margin-right: 8px;
}

.transaction-cancel:hover{
    background-color: #f3f3f3;
}